body {
    background-color: #F8F8F8;
}

.top-bg-image {
    background-image: url('../images/grid.png');
    background-size: contain;
    background-repeat: repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    z-index: 0;
}

.bg-color {
    /* background-color: #F8F8F8; */
    background-color: rgba(248, 248, 248, 0.3);
}
